
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

body{
	font-family: 'lato', sans-serif;
	color: black;
	margin: 0;
}
/*my resume banner*/
.about-me{
	background-color: #0b0b33; 
	padding: 30px;
}
.about-me h2{
	color:  white;
	border-bottom: 3px white solid;
}
.about-me p{
	color: white;
}
#home-hero h1{
	color: white;
	font-size: 50px;
	text-shadow: 2px 2px 2px black;
	text-align: center;
	padding: 15px 0;
	margin: 0;
}
nav ul{
	padding-top: 13px;
	list-style-type: none;
	text-align: center;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link{
	color: white;
}
nav a:visited{
	color: white;
}
nav a:hover{
	color: lightblue;
}
nav a:active{
	color: #0b0b33;
}
footer a:link{
	color: #0b0b33;
}
footer a:visited{
	color: #0b0b33;
}
footer a:hover{
	color: lightblue;
}
footer a:active{
	color: white;
}
main a:link{
	color: #0b0b33;
}
main a:visited{
	color: #0b0b33;
}
main a:hover{
	color: lightblue;
}
main a:active{
	color: white;
}
main .fa{
	color: #0b0b33;
	font-size: 5em;
}
.big3 .fa{
	text-align: center;
	margin: 0 auto;
	display: block;
	padding-top: 20px;
}
.big3 p{
	text-align: center;
}
.big2{
	border-top: 10px #0b0b33 solid;
	border-bottom: 10px #0b0b33 solid;
}
.big4{
	border-top: 10px #0b0b33 solid;
}
.big5{
	padding-bottom: 50px
}
header h1{
	text-align: center;
	font-size: 4em;
	color: white;
	margin: 0;
	padding: 20px;
}
header{
	background-color: white;
}
.logo{
	padding-left: 40px;
	margin: 0 auto;
	display:block;
}

a:link{
color: white;
}
a:visited{
color: white;
}
a:hover{
color: lightblue;
}
a:active{
color: black;
}
nav{
	background-color: #0b0b33;
	border-bottom: 2px white solid;
	padding: 5px;
}
main{
	max-width: 1000px;
	margin: 40px auto;
}
footer{
	text-align: center;
	border-top: 1px solid gray;
	padding: 10px;
	background-image: url(images/blue.png);
	clear: both;
}
#home-hero{
	background-image: url(images/blue.png);
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
}
.myphoto{
	float: left;
	max-width: 50%;
	height: auto;
	padding: 30px;
}
h1, h2{
	color: #14112c;
}
h2{
	border-bottom: 3px solid #0b0b33;
}
.fa{
	font-size: 3em;
}
.gallery .preview{
    width: 100%;
    height: auto;
    padding-top: 50px;
}

.gallery .gallery-thumbnails img {
    width: 100px;
    height: 75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}
.mobile{
	display:none;
}
@media only screen and (max-width: 768px){
.desktop{
		display:none;
	}
.mobile{
		display: block;
		touch-action: manipulation;
	}
}


/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 1.8em;
	}
}
/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
	h1{
		font-size: 1.5em;
	}
}
